<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>
        About Page title
    </title>

</head>

<body>
    <div class="main-content">
        <h1>About {{>header}}</h1>
    </div>

    {{>footer}}
</body>

</html>