<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>



        <img class="portrait" src="/img/robot.png">
        <h2>{{title}}</h2>
        {{!-- <h3>Created by {{name}}</h3> --}}
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>